.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}
.adminMain {

}
.dataTable {
  background-color: white;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 5%;
  float: right;
  width: 82%;
}
.scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: inline-block;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.help-block {
  margin: 10px;
  color: red;
  border: 1px red;
  background-color: #F0DBE0;
  opacity: 0.6;
}

.created-block {
  margin: 10px;
  color: black;
  border: 1px red;
  background-color: #5BEF99;
  opacity: 0.6;
}


.myButton {
  background-color: #007bff; /* Green */
  padding-left: 15px;
  border: none;
  color: white;
  width: 15%;
  text-align: center;
  display: flex;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}
  a:hover {
    background-color: #2E86BA;}



