$error-color: #f44336;
$success-color: #4caf50;
$info-color: #2196f3;
$warning-color: #ff9800;
$infoGreen-color: #17a2b8;
$purple-color: #6967f6;
$leaveGreen-color: #2bbbad;
$cancel-color: grey;
.card {
  background-color: white;
  margin: 30px;
  z-index: 1;
}
