.autoCompleteText {
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 7px;
  padding: 0;
  box-sizing: border-box;
  input {
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    height: 35px;
    padding-left: 10px;
    margin: 0px;
  }
  ul {
    border-radius: 4px;
    background-color: white;
    position: absolute;
    border: 2px solid #ccc;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    width: inherit;
    li {
      padding-left: 10px;
      font-size: 20px;
      &:hover {
        cursor: pointer;
        background-color: #ccc;
      }
    }
  }
}
