.loading {
  // position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  //   border-style: dashed;
  //   flex-direction: column;
  //   text-align: center;
  //   flex-direction: column;
  align-items: center;
  justify-content: center;
  //   align-content: center;
  //   text-align: center;
  text-align: center;
  img {
    height: 70px;
    position: relative;
    top: -80px;
  }
  .loading-bar {
    width: 190px;
    height: 4px;
    border-radius: 2px;
    background-color: #cfcfcf;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    top: -80px;
    &::before {
      content: '';
      width: 68px;
      height: 4px;
      background-color: #0073b1;
      position: absolute;
      left: -10px;
      animation: bluebar 2s infinite ease;
      border-radius: 2px;
    }
    @keyframes bluebar {
      50% {
        left: 130px;
      }
    }
  }
}
