.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  //   overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 5px;
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 450px;
    border-radius: 15px;
    margin-top: -70px;
    button {
      background-color: #3d7ccf; /* Green */
      border: none;
      color: white;
      font-size: 20px;
      margin: 10px 6px;
      border-radius: 5px;
      width: 90px;
      float: right;
      order: 1;
      cursor: pointer;
      &:hover {
        background-color: #3364a5;
      }
    }
    h5 {
      float: left;
      margin-top: 15px;
      margin-left: 10px;
    }

    /* The Close Button */
    .close {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right: 13px;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .content-add {
      border-style: solid;
      border-left: none;
      border-right: none;
      display: flex;
      border-width: 1px;
      border-color: #e4e6eb;
      flex-direction: column;
      padding: 5px;
      .input-content {
        display: flex;
        flex-direction: column;
        .input-name {
          float: left;
          text-align: left;
          margin-left: 10px;
          margin-top: 5px;
        }
        input {
          height: 35px;
          margin: 10px;
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 17px;
          border-radius: 5px;
          border-style: solid;
          border-width: 1px;
          &:focus {
            border-width: 2px;
            border-color: #9aa6db;
            outline-color: #9aa6db;
          }
        }

        input::placeholder {
          font-size: 15px;
        }
      }
    }
  }
}

.help-block {
  margin-top: -10px;
  color: red;
  border: 1px red;
  background-color: #f0dbe0;
  opacity: 0.6;
}

.created-block {
  margin-top: -10px;
  color: black;
  border: 1px red;
  background-color: #5bef99;
  opacity: 0.6;
}



.css-2b097c-container {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  max-height: 41px;
  font-size: 17px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  &:focus {
    border-width: 2px;
    border-color: #9aa6db;
    outline-color: #9aa6db;
  }
  .css-yk16xz-control {
    max-height: 25px;
  }

    .css-g1d714-ValueContainer{
      max-height:25px;
    }

    .css-1hb7zxy-IndicatorContainer{
      max-height:25px;
    }

}


.css-1uccc91-singleValue{
  margin-top:8px;
}

.css-1pahdxg-control{
  mex-height:25px;
}




