.help-block {
  margin: 10px;
  color: red;
  border: 1px red;
  background-color: #F0DBE0;
  opacity: 0.6;
}

.created-block {
  margin: 10px;
  color: black;
  border: 1px red;
  background-color: #5BEF99;
  opacity: 0.6;
}
